.carta-figura-container {
  display: flex;
  gap: 10px;
}

.carta-figura {
  width: 12vh;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carta-figura img {
  max-width: 90%;
  max-height: 90%;
}