.carta-movimiento-container {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: center;
}

.carta-movimiento {
  width: 9vh;
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carta-movimiento img {
  width: 100%;
  height: 130%;
}