.msg-scroller-container {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    gap: 5px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #8b8d7181 #d3d6ac00;
    overflow-anchor: none;
}

.mensajes {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.mensaje {
    text-align: left;
    text-wrap: wrap;
    word-wrap: break-word;
    word-break: normal;
    padding: 10px;
    border-radius: 4px;
    color: white; 
    display: flex;
    flex-direction: column;
}

.msg-textbox {
    width: 95%;
    padding: 5px;
    text-align: left;
}

.log-img-container{
    display: flex;
    flex-direction: row;
}

.log-card-img {
    width: 25%;
    height: fit-content;
}