.container-crearP {

    flex: 1;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  
    display: flex;
    justify-content: center;
    place-items: center;
    flex-direction: column;

    background-color: #808264;
    color: white;
}

.h1-crearP {
    font-size: 28px;
    font-weight: bold;
}

.infoLabel-crearP {
    color: #ffd9d9;
  
    /* hide infoLabels until it's needed */
    display: none;
}

.button-yellow {
    border-width: 3px;
    border-radius: 0;
    background-color: #ffd42a;
    color: black;
    font-weight: bold;
}

.button-return {
    border-width: 5px;
    border-radius: 0;
    background-color: #ffd42a;
    color: black;
    font-weight: bold;
    margin: 0; 
}