.layout{
    display: grid;
    grid-template-columns: auto 25vw;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 3vw;
}

.players{

    background-color: blue;
    gap: 2px;
    padding: 5px;
}

/*

// para el chat habria que meter otro div adentro, por encima del <input>, para contener los msg ahi y poder scrollear y que el input para msgs quede en el mismo lugar
.chat{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: blueviolet;
    padding: 5px;
}
*/

.board-side{
    background-color: aquamarine;
    display: grid;
    grid-template-rows: 13vh auto 13vh;
}

.bar{
    background-color: aqua;
}